{% extends "base.html" %}
{% import "macros/render_field.html" as rf %}
{% block title %}
    New Issue
{% endblock %}

{% block content %}
    <form method="POST" action="." accept-charset="UTF-8" role="form" enctype="multipart/form-data">
        {{ new_issue_form.csrf_token }}
        {{ rf.render_field(new_issue_form.name, autofocus="") }}
        {{ rf.render_field(new_issue_form.priority) }}
        {{ rf.render_field(new_issue_form.version) }}
        {{ rf.render_field(new_issue_form.operating_system) }}
        {{ rf.render_field(new_issue_form.attachments) }}
        {{ rf.render_field(new_issue_form.description) }}
      <button type="submit" name="submit">Submit issue</button>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}